<html>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/> 
    <head>
        <title>Survivor Buddy</title>
        <link rel="stylesheet" type="text/css" href="static/css/style.css" />
        <script type="text/javascript" src="/socket.io/socket.io.js"></script>
        <script type="text/javascript" src="static/js/index.js"></script>
    </head>
    <body>
        <div id="topPanel">
            <div id="helpTip">Drag and Drop Image to share with Survivor Buddy</div>
            <div id="userCount">1</div>
            <img id="userCountIcon" src="static/images/users.png"/>
        </div>
        <div id="imageBoard">
        </div>
    </body>
</html>